.pokemon-data-body {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.card {
    background-color: #FFF;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.card .card-body {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.card .evolutions-list .evolutions {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.card h2 {
    text-transform: capitalize;
}

.card img {
    border: 1px solid #EEE;
    margin: 10px 0;
}

.card .pokemon-infos .pokemon-types .pokemon-types-body {
    display: flex;
    margin-top: 10px;
}

.card .pokemon-infos .pokemon-types .pokemon-types-body p {
    margin-right: 5px;
    padding: 5px;
    border-radius: 3px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 13px;
    color: #FFF;
}

.card .pokemon-infos .pokemon-infos-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 0;
}

.card .pokemon-infos .pokemon-infos-body label {
    font-weight: bold;
    margin-right: 10px;
}

.card .pokemon-abilities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 170px;
}

.card .pokemon-name {
    margin-right: 30px;
}

.card .pokemon-name .pokemon-types {
    display: flex;
}

.card .pokemon-abilities .pokemon-stats {
    margin: 10px 0;
}

.card .pokemon-abilities .pokemon-stats .stat-info {
    display: flex;
    margin-bottom: 5px;
}

.card .pokemon-abilities .pokemon-stats .stat-info .stat-name {
    flex-grow: 1;
    text-transform: capitalize;
    font-weight: bold;
}

.evolution-chain {
    margin-left: 50px;
}

@media (max-width: 950px) {
    .card {
        flex-direction: column;
    }

    .card .pokemon-abilities {
        width: 100%;
    }

    .pokemon-data-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .evolution-chain {
        margin: 30px 0;
    }
}

@media (max-width: 750px) {
    .card .card-header {
        text-align: center;
    }

    .card .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card .card-body .pokemon-name {
        margin: 0;
    }

    .card .card-body .pokemon-infos .pokemon-types {
        margin: 10px 0;
    }

    .evolution-chain .evolutions {
        flex-direction: column;
        align-items: center;
    }

    .evolution-chain .card-header h2 {
        text-align: center;
    }
}