.evolutions {
    display: flex;
}

.next-evolution {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 15px;
}

.next-evolution span {
    font-weight: bold;
    text-transform: capitalize;
}