.pokemon-list {
    margin: 30px;
}

.pokemon-list ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

@media (max-width: 950px) {
    .pokemon-list ul {
        grid-template-columns: repeat(2, 1fr);
    }
}